@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul > * {
  cursor: pointer;
}

.nav-list li:hover {
  border-bottom: 1px solid #dc2626;
}

.filter-btn {
  @apply flex gap-2 bg-white rounded-full shadow-md w-fit items-center px-4 py-2 font-normal opacity-85 cursor-pointer border-slate-100 border-2 border-solid text-red-600;
}

.shadow-box {
  box-shadow: 0 0 2px #0000001f !important;
}
